form{
    background-color: aqua; width: 50%; margin: auto;padding: 30px;
}
h2{text-align: center}  h2{
text-align: center; font-size: 30px; font-weight: bold;

}
input[type=text],input[ type=date],input[type=date]{
    float: right;
    width: 50%;
}

{
    label{position: relative; left: 40px}
    .radio{display: flex}

    width: 50%;
    height: 30px;
    padding-left: 30px;
    margin-top: 10px;

}
button{
    width: 25%;
    height: 20px;
    background-color: limegreen;
}
body{
    h2[]
}